*{ 
padding: 0; margin: 0;
}

:root{ 
    --background-color: #fff5f5;
    --h-color: #025f80;
    --color1: #03045e;
    --color2: #0077b6;
    --color3: #00b4d8;
    --color4: #90e0ef;
    --color5: #caf0f8;
    --color6: #fff2b4;
    --color7: #fdf061;
    --a-color: black;
    --nav-color: white;


}
body{
    background-image: linear-gradient(to right top, #0077b6, #0086c1, #0096ca, #00a5d1, #00b4d8);
    background-attachment: fixed;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dark-mode{
    background-image: linear-gradient(to right top, #002336, #002b3d, #003344, #003949, #005263);
    --background-color: #282a36;
    --h-color: darkgrey;
    --color1: #6272a4;
    --color2: rgb(11, 0, 51);
    --color3: 	#f1fa8c;
    --color4: #8be9fd;
    --color5: blue;
    --color6: #44475a;
    --color7: red;
    --a-color: white;
    --nav-color: white;
    --p-color: darkgrey;

}

.dark-mode img{
    opacity: 0.5;
}

nav{
    width: 100%;
    background-color: var(--color2);
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav li{
    padding-left: 1rem;
}


nav li:first-child {
    padding-left: 0;
}

footer{
    background-color: var(--color1);
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:600px) {
    nav{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0; 
    }

    nav li {
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;
        
    }

    footer{
        width: 100%;
        background-color: #03045e;
    }
    
}

a{
    text-decoration: none;
    color: var(--a-color);
}
nav a{
    text-decoration: none;
    color: var(--nav-color);
}

nav a:hover{
    color: var(--color4);
}

.current-page{
    background-color: var(--color1);
    color: var(--color3);
}

main{
    width: 70%;
    align-items: center;
    background-color: var(--background-color);
    
}

h1, h2, h3, p{
    text-align: center;

}

h1{
    font-family: 'Staatliches', cursive;
    font-size: 4vw;
    color: var(--h-color);
}

h2{
    font-family: 'Staatliches', cursive;
    font-size: 3vw;
    color: var(--h-color);
}

h3{
    font-family: 'Staatliches', cursive;
    font-size: 2.5vw;
    color: var(--color1);
}

p{
    font-family: 'Open Sans', sans-serif;
    color: var(--p-color);
}

.logo{
    padding-top: 25px;
    height: 15vw;
    display: flex;
    justify-content: center;
    
}

.blogtitel{
    padding-bottom: 25px;
}

.bild_volle_breite{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:600px) {
    h1{
        font-size: 10vw;
    }

    h2{
        font-size: 8vw;
    }

    h3{
        font-size: 6vw;
    }

    .logo{
        height: 30vw;
    }

    main{
        width: 100%;
    }


}

.introtext{
    padding-bottom: 25px;
}

.outrotext{
    padding-top: 20px;
    padding-bottom: 25px;
}

.vorschautext{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}


.vorschau{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.vorschaucard{
    width: 23%;
    min-width: 200px;
    background-color: var(--background-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 1px 0px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 48px rgba(17,17,26,0.1);
}

.vorschaucard:hover{
    background-color: var(--color6);
}

.vorschaucard img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.vorschautext{
    padding-left: 10px;
    padding-right: 10px;
}

.frage{
    background-color: var(--color3);
    font-weight: bold;
    border-bottom: solid var(--h-color);
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frage:hover{
 cursor: pointer;   
}

.antwort{
    background-color: var(--color5);
    margin-bottom: 20px;
}

.antwortHidden{
    display: none;
}

button{
    border-style: none;
    border-radius: 25px;
    min-width: 125px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

button.darkmode{
    background-color: var(--color1);
    color: var(--color6);
}

button.darkmode:hover{
    background-color: black;
}

button.lightmode{
    background-color: #fff2b4;
    color: black;
}

button.lightmode:hover{
    background-color: #fdf061;
}